/* Textarea for custom styles. */
#my-style-input {
  /* Position on right side, taking up entire browser height. */
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;

  /* Should be visible above all other elements. */
  z-index: 5000000;
  overflow: auto;
  outline: none;
  padding: 10px 20px;

  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #ccc;

  /* Dark code font with light background. */
  color: #222;
  background: #fcfcfc;
  font: 13px "Inconsolata", "Consolas", "Menlo", "Monaco",
    "Lucida Console", "Courier New", "Courier", monospace;
}
